#link_preview {
    position: fixed;
    top: 20px;
    
    z-index: 999999999999;

    margin: 0px;
    padding: 0px;

    width: 640px;
    height: 480px;
    
    opacity: 1;
    background: white;
    
    overflow: hidden;
    
    -webkit-box-shadow: 0px 0px 4px rgba(100, 100, 100, 0.5);
    border: 1px solid #000;
    
/*    -webkit-mask-box-image: url(vignette-mask.png) 10 stretch;*/
}

img {
    border: none;
}

#link_preview img {
    position: relative;
    top: -15px;
    left: 0px;
    
    width: 640px;
    
    border: none;
    
    margin: 0px;
    padding: 0px;
}

.preview_right {
    right: 20px;
}

.preview_left {
    left: 20px;
}

#link_preview img.spinnerImage {
    position: relative;
    top: 240px;
    left: 320px;
    
    margin: 0px;
    padding: 0px;
    
    width: 16px;
    
    border: none;
}